.form-group{
    background-color: #203354;
    border-radius: 20px;
    margin-top: 80px;
}
.btn{
    font-size: 17px;
  font-weight: 600;
  top: 280px;
  left: 180px;
  color:#5c2a80;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 7px ;
  padding-bottom: 7px ;
  border-radius: 20px;
}
.btn:hover{
    background-color:#b4b3b3;
}
.button{
  text-decoration: none;
  background-color: #203354;
  color: white;
  padding: 15px;
  margin-top:700px;
  margin-left:440px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px ;
  padding-bottom: 15px ;
  border-radius: 20px;
}
.button:hover{
    text-decoration: none;
    color:rgb(201, 201, 201);
}

h5{
    font-size: 18px;
    margin-left: 180px;
    padding: 30px;
}
